body{
    text-align: center;
    background-color: aqua;
    
}
#heading{
    margin-top: 20px;
    margin-bottom: 20px;
    color: blueviolet;
}
#submit_button{
    margin-top: 20px;
    margin-bottom: 20px;
}
#sort_button{
    display: none;
    margin-top: 20px;
    margin-bottom: 20px;
}
input{
    margin: 10px;
}